{% extends 'base.html' %}

{% block headblock %}
    <title>{{ thread_category }}</title>
{% endblock %}


{% block bodyblock %}
    <p></p>
    <form action="{% url 'threads:start_new_thread' pk=thread_category.pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
        {% if thread_category.name in 'BuySellExchange' %}
            <input class="btn btn-primary btn-md blue_button" type="submit" value="Post Offer">
        {% else %}
            <input class="btn btn-primary btn-md blue_button" type="submit" value="Start Discussion">
        {% endif %}
    </form>
{% endblock %}