{% extends 'base.html' %}

{% block headblock %}
    <title>{{ thread }}</title>
{% endblock %}

{% block bodyblock %}
    {% for comment in comments %}
        <p><a href={% url 'accounts:user_profile_page' pk=comment.poster.pk %}>{{ comment.poster }}</a> said: {{ comment.text_content }}</p>
        <p></p>
        {% if comment.poster == user %}
            <a href="#" type="button" class="btn btn-primary btn-md">Delete Comment</a>
        {% endif %}
        <p>-----------------</p>
        <p></p>
    {% endfor %}

        <div class="basic">
            {% include "threads/add_comment_subtemplate.html" %}
        </div>


{% endblock %}