{% extends 'base.html' %}

{% block headblock %}
    <title>Index</title>
{% endblock %}

{% block bodyblock %}

    <p></p>
    <div class="my-2 p-2 bg-white rounded shadow-sm">
        <h2 class="border-bottom py-2 mb-0">Discussions</h2>
        {% for thread_category in thread_categories %}

            <div class="d-flex text-muted py-2 border-bottom">
                <img class="icon" src="/static/icons/book_icon.png" alt="...">

                <h5 class="py-2 mb-0 medium lh-sm">
                    <a href={% url 'threads:category' pk=thread_category.pk %}><strong class="d-block text-gray-dark link_text">{{ thread_category }}</strong></a>
                </h5>
            </div>
        {% endfor %}
    </div>


    <div class="my-2 p-2 bg-white rounded shadow-sm">
        <h2 class="border-bottom py-2 mb-0">Market</h2>
        {% for market_category in market_categories %}

            <div class="d-flex text-muted py-2 border-bottom">
                {% if market_category.name in 'BuySellExchange' %}
                    <img class="icon" src="/static/icons/offer.png" alt="...">
                {% else %}
                    <img class="icon" src="/static/icons/book_icon.png" alt="...">
                {% endif %}

                <h5 class="py-2 mb-0 medium lh-sm">
                    <a href={% url 'threads:category' pk=market_category.pk %}><strong class="d-block text-gray-dark link_text">{{ market_category }}</strong></a>
                </h5>
            </div>
        {% endfor %}
    </div>


{% endblock %}