{% extends 'base.html' %}
{% load bootstrap4 %}

{% block headblock %}
    <title>Profile Page</title>
{% endblock %}

{% block bodyblock %}
    <div class="p-3 bg-white rounded shadow-sm">

        <h3><strong>
            {{ profile_page_user.username|capfirst }}
            {% if user.is_authenticated and profile_page_user.pk is not user.pk %}
                <a href="{% url 'conversations:start_new' recipent_pk=profile_page_user.pk %}" type="button" class="btn btn-primary btn-sm blue_button">Send a message</a>
            {% endif %}
        </strong>
        </h3>

        {% if profile_page_user.userprofile.avatar %}
            <img class="avatar_profile_img" src="/static/avatars{{ profile_page_user.userprofile.avatar.url }}" alt="...">
        {% else %}
            <h1><img class="avatar_profile_img" src="/static/avatars/default_avatar.png" alt="..."></h1>
        {% endif %}

        <p></p>
        {% if profile_page_user.pk is user.pk %}
            <a href="{% url 'accounts:avatar_change' %}" type="button" class="btn btn-primary btn-md blue_button">Change avatar</a>
        {% endif %}


        <p></p>
        <h4>{{ profile_page_user.email }}</h4>
    </div>
{% endblock %}